[user]
        name = captain-kark
        email = andrew.yurisich@nbx.com
[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        ui = true
        pager = true
[color "branch"]
        current = cyan
        local = yellow
        remote = magenta
[color "diff"]
        meta = yellow
        frag = white dim
        old = red
        new = cyan
        whitespace = white reverse
[color "status"]
        added = cyan
        changed = red
        untracked = yellow
[alias]
        aa = add -A
        ap = apply --check # diff.patch
        br = branch -a --no-merged
        ci = commit
        co = checkout
        cp = cherry-pick
        df = diff
        dfc = diff --cached
        find = !git l --all -p -S # search string
        fp = format-patch
        history = !git l --all -s -- # filename
        l = log --pretty=tformat:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
        lg = !git l -n # number of commits
        lgg = !git l -n 10 # number of commits
        origin = push origin -q
        pull = pull --rebase
        purr = pull --rebase
        read = show
        recap = !git diff --stat ${1-HEAD}~1 ${1-HEAD}
        reverse = "!git show ${1-HEAD^}..${2-HEAD} | git apply --reverse --3way; git reset ."
        rip = commit --amend --no-edit
        sbt = subtree push --prefix # app|dist origin gh-pages
        so = !git am -3 --signoff < # diff.patch
        sor = am --resolved
        split = reset HEAD^
        sq = !"git reset --soft ${1-master}; git add -A; git commit;"
        st = !"(git status -sb && git diff)"
        sto = status -sb
        standup = !git lg --since yesterday --author `git config user.email`
        swap = "!git stash; git checkout -b $1 master; git stash pop;"
        update = "!git fetch --all --prune; git branch --no-contains HEAD --no-color --merged | xargs -n 1 git branch -d"
        upstream = push upstream -q
        use-master = "checkout --ours" # files
        use-branch = "checkout --theirs" # files
[pager]
        st = true
[push]
        default = current
        followTags = true
[core]
        editor = /Applications/Emacs.app/Contents/MacOS/bin/emacsclient
        excludesfile = ~/.gitignore.global
[url "https://"]
        insteadOf = git://
[filter "lfs"]
        clean = git-lfs clean %f
        smudge = git-lfs smudge %f
        required = true
[url "https://github.com/"]
        insteadOf = git://github.com/
[diff]
        renameLimit = 9999
[merge]
        conflictStyle = diff3
